.comp{
    margin-top: 116px;
    .comp__wrapper{
        display: flex;
        gap: 102px;
        align-items: center;
        @media (max-width:1000px) {
            flex-direction: column;
        }
        .comp__first{
            div{
                display: flex;
                align-items: center;
                p{
                    font-size: 16px;
                    font-weight: 500;
                    font-family: man;
                    color: #454545;
                }
            }
            .comp__title{
                font-size: 64px;
                font-weight: 700;
                font-family: man;
                color: #454545;
                @media (max-width:600px) {
                    font-size: 28px;
                }
            }
            .comp__wrapp{
                display: grid;
                .comp__card{
                    display: flex;
                    width: 530px;
                    height: 253px;
                    border-radius: 15px;
                    background-color: #F2F2F2;
                    position: relative;
                    padding: 32px 32px;
                    margin-top: 36px;
                    @media (max-width:600px) {
                        width: 400px;
                    }
                    .comp__subtitle{
                        position: absolute;
                        top: 10px;
                        font-size: 64px;
                        font-weight: 700;
                        font-family: man;
                        color: #454545;
                    }
                    .comp__desc{
                        position: absolute;
                        bottom: 20px;
                        font-size: 24px;
                        font-weight: 500;
                        font-family: man;
                        color: #454545;
                        @media (max-width:600px) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .comp__sec{
            display: flex;
            flex-direction: column;
            gap: 50px;
            max-width: 640px;
            div{
                p{
                    font-size: 24px;
                    font-weight: 500;
                    color: #454545;
                    font-family: man;
                    @media (max-width:700px) {
                        font-size: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
}