.ship{
    margin-top: 115px;
    .ship__top{
        display: flex;
        gap: 341px;
        @media (max-width:1000px) {
            flex-direction: column;
            gap: 30px;
        }
        .ship__left{
            .mains{
                display: flex;
                align-items: center;
                p{
                    font-size: 16px;
                    color: #454545;
                    font-weight: 600;
                }
            }
            .desc{
                font-size: 64px;
                color: #454545;
                font-weight: 700;
                @media (max-width:600px) {
                    font-size: 40px;
                }
            }
        }
        .ship__right{
            .ship__main{
                margin-bottom: 60px;
                .ship__title{
                    font-size: 33px;
                    margin-bottom: 10px;
                    font-weight: 600;
                }
                .ship__desc{
                    max-width: 640px;
                    font-size: 20px;
                    font-weight: 600;
                    color: #454545;
                }
            }
        }
    }
}