.navbar{
    display: flex;
    align-items: center;
    height: 30px;
    .navbar__collection{
        flex: 1;
        display: flex;
        color: #454545;
        font-family: man;
        font-weight: 600;
        div{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 27px;
            @media (max-width:800px) {
                text-align: center;
            }
        }
    }
    .contact{
        display: flex;
        gap: 24px;
        @media (max-width:800px) {
            display: none;
        }
        p{
            font-family: man;
            font-weight: 600;
            color: #454545;
        }
    }
}