.blog{
    margin-top: 100px;
    .blog__top{
        display: flex;
        margin-bottom: 53px;
        .blog__title{
            flex: 1;
            font-size: 40px;
            font-weight: 700;
            font-family: man;
        }
        .btns{
            border: 1px solid #ddd;
            align-items: center;
            padding: 14px 40px;
            border-radius: 100px;
            height: 50px;
            display: flex;
            font-family: man;
            font-weight: 600;
            font-size: 16px;
            gap: 20px;
            color: #454545;
            &:hover{
                background-color: #000;
                color: #fff;
            }
            .inf{
                font-size: 16px;
                font-family: man;
            }
        }
    }
    .blog__wrapper{
        display: flex;
        gap: 20px;
        @media (max-width:1000px) {
            flex-direction: column;
            align-items: center;
        }

        .blog__card{
            width: 420px;
            height: 456px;
            border-bottom: 1px solid #ddd;
            .blog__img{
                margin-bottom: 29px;
                img{
                    width: 100%;
                }
            }
            .blog__text{
                display: flex;
                flex-direction: column;
                gap: 24px;
                font-family: man;
                .blog__inf{
                    font-size: 20px;
                    font-weight: 700;
                    max-width: 310px;
                    color: #454545;
                    font-family: man;
                }
                .blog__data{
                    font-size: 14px;
                    color: #454545;
                    font-family: man;
                }
            }
        }
    }
}