@font-face {
    font-family: int;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: man;
    src: url(./fonts/Manrope-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 300vh;
}
.container{
    max-width: 1333px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.container__lg{
    max-width: 1730px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}