.map{
    margin-top: 60px;
    .map__img{
        display: flex;
        justify-content: center;
        @media (max-width:1000px) {
            justify-content: start;
        }
        img{
            width: 1650px;
            @media (max-width:1000px) {
                width: 850px;
            }
            @media (max-width:900px) {
                width: 700px;
            }
            @media (max-width:750px) {
                width: 450px;
                height: 500px;
                object-fit: cover;
            }
            @media (max-width:500px) {
                width: 350px;
                height: 600px;
                object-fit: cover;
                padding: 0 20px;
            }
        }
    }
}